<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>Label</key>
    <string>launched.github-sync-forks</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>cd  $HOME; cat .github-sync-forks-targets | while read repo; do gh repo sync $(echo $repo | cut -d: -f1) --branch $(echo $repo | cut -d: -f2) --force; done<string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>UserName</key>
    <string>bobbyrbruce</string>
  </dict>
</plist>
